//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// $primary:#c39722;
$primary:#ba9540;
// $dark:black;
$grandient-linear: linear-gradient(94deg, rgba(0,0,0,1) 0%, $primary 63%, $primary 100%);
$secondary:black;
$theme-dark-body-bg:#1b191a ;
$theme-dark-card-bg:#2e2e2e;

// $theme-dark-table-header-bg:#1b191a;
$theme-dark-table-bg:#1b191a;
$theme-dark-table-row-bg:#1b191a;
$theme-dark-input-bg:#1b191a;

$headings-color:$secondary;